{% extends 'users/layout.html' %}
{% load crispy_forms_filters %}

{% block body %}
    <style>
        label {
            margin-top: 15px;
            font-weight: bold;
        }
    </style>
    <div style="margin-left:20px;">
        {% if message %}
            <div class="container grid-item">
                <h2>{{ message }}</h2>
                <a href="{% url 'index' %}" class="btn btn-secondary">Home</a>
            </div>
        {% else %}
            <h2>Enter Achievement Details</h2>
            <a href="{% url 'add_organization' %}" class="btn btn-outline-danger">Add New Organization</a>
            <form method="post" enctype="multipart/form-data" style="margin-left:20px;">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="hidden" name="ach_id" value="{{ ach_id }}"><br>
                <button type="submit" class="btn btn-warning">Save</button>
                <a href="{% url 'index' %}" class="btn btn-secondary">Go Back</a>
            </form>
            <script>
                $(
                    function () {
                        $("#type").autocomplete({source: "{% url 'achievement_type_complete' %}"});
                    }
                );
            </script>
        {% endif %}
        <br>

        <br><br>
    </div>
{% endblock %}