{% extends "users/layout.html" %}

{% block body %} 
    {% comment %} <h1>Welcome, {{ request.user.first_name }}</h1> {% endcomment %}

    <table class="table table-striped">
        <tr>
            <td><h4>Name: {{ name }}</h4></td>
            <td><h4>ID: {{ id }}</h4></td>
            <td><h4>User: {{ user_type }}</h4></td>
          </tr>
          <tr>
            <td><h5>Username: {{ request.user.username }}</h5></td>
            <td><h5>Email: {{ request.user.email }}</h5></td>
            <td><a href="{% url 'logout' %}" class="btn btn-info">Log Out</a></td>
          </tr>
    </table>

    <br><br><br>
 
    {% if achievements_links %}
    <h2 style="text-align: center;">All Achievements List</h2>
    <div class="grid-header cols-grid">
        <div class="item">ACH_ID</div>
        <div class="item">Title</div>
        <div class="item">Held by</div>
        <div class="item">Event Date</div>  
        <div class="item">Type</div>
        <div class="item">Academic Year</div>
        <div class="item">Awarded By</div>
        <div class="item" style="margin-right: 5px;">Certficate</div>
    </div>

    {% for a,link in achievements_links %}
        <div class="grid-container cols-grid">
            <div class="grid-item">{{ a.id }}</div>
            <div class="grid-item">{{ a.title }}</div>
            <div class="grid-item">
                {% if a.holders.all %}
                {% for h in a.holders.all %}
                        {{ h }}<br>
                {% endfor %}
                {% else %}
                <p style="color: #aaa;">No members</p>
                {% endif %}
            </div>
            <div class="grid-item">{{ a.achievement_date }}</div>
            <div class="grid-item">{{ a.type }}</div>
            <div class="grid-item">{{ a.academic_year }}</div>
            <div class="grid-item">{{ a.organization.name }}</div>  
            <div class="grid-item" style="margin-right: 5px;">
                <a href={{ link }} download>link</a>
            </div>
        </div>
    {% endfor %}
    {% else %}
    <h2>No Achievements</h2>
    {% endif %}
    <br><br>

{% endblock %}