{% extends "users/layout.html" %}

{% block body %}
    <style>
        input, select {
            max-width: 10em;
            margin-right: 20px;
        }
    </style>
    <h2 style="text-align:center;">Student Achievement Portal</h2><br>
    <div class="grid-item" style="margin-right:5px;">
        <table class="table table-striped table-bordered">
            <tr>
                <td><h4>Name: {{ request.user.get_full_name }}</h4></td>
                <td><h4>ID: {{ id }}</h4></td>
                <td><h4>User: {{ user_type }}</h4></td>
            </tr>
            <tr>
                <td><h5>Username: {{ request.user.username }}</h5></td>
                <td><h5>Email: {{ request.user.email }}</h5></td>
                <td>
                    <a href="{% url 'my_counselees' %}" class="btn btn-warning">My Counselees</a>
                    <a href="{% url 'logout' %}" class="btn btn-outline-danger">Log Out</a>
                </td>
            </tr>
        </table>
        <br><br><br>
        <h3>Student Achievements</h3>
        <form method="post" class="container grid-item">
            {% csrf_token %}
            <div class="input-group">
                <input name="usn" id="usn" value="{{ usn }}" placeholder="USN" class="form-control"
                       style="margin-left:300px;"/>
                <input name="year" value="{{ year }}" placeholder="Year" class="form-control"/>
                <input name="achievement_type" value="{{ achievement_type }}" placeholder="Type" class="form-control"/>
                <input name="organization" value="{{ org }}" placeholder="Organization" class="form-control"/>
                <select name="sort_by" class="form-control" style="max-width:10em;">
                    <option value="" disabled selected>Sort By</option>
                    <option value="achievement_date">Achievement Date</option>
                    <option value="title">Title</option>
                    <option value="type">Type</option>
                    <option value="organization">Organization</option>
                </select>
                <input type="checkbox" name="my_counselees" class="form-check-input"/>
                <label for="my_mentees" class="form-check-label">My Counselees Only</label>
            </div>
            <br>
            <button type="submit" class="btn btn-dark">Query</button>
            <a href="{% url 'index' %}" class="btn btn-secondary">Clear Filters</a>
        </form>
        <script>
            $(
                function () {
                    $("#usn").autocomplete({source: "{% url 'usn_complete' %}"});
                }
            );
        </script>

        <br><br>
        <h4>Count: {{ achievements.count }}</h4>
        {% if type_suggestions %}
            <h5>Type suggestions:</h5>
            {% for sug in type_suggestions %}
                <li>{{ sug }}</li>
            {% endfor %}
            <br>
        {% endif %}
        {% if org_suggestions %}
            <h5>Organization suggestions:</h5>
            {% for sug in org_suggestions %}
                <li>{{ sug }}</li>
            {% endfor %}
        {% endif %}
    </div>

    {% if achievements %}
        <div class="grid-header cols-counselor" style="margin-right: 5px;">
            <div class="item">ACH_ID</div>
            <div class="item">Title</div>
            <div class="item">Held by</div>
            <div class="item">Event Date</div>
            <div class="item">Type</div>
            <div class="item">Academic Year</div>
            <div class="item">Awarded By</div>
            <div class="item">Certificate</div>
        </div>

        {% for a,link in achievements_links %}
            <div class="grid-container cols-counselor" style="margin-right: 5px;">
                <div class="grid-item">{{ a.id }}</div>
                <div class="grid-item">{{ a.title }}</div>
                <div class="grid-item">
                    {% if a.holders.all %}
                        {% for h in a.holders.all %}
                            {{ h }}<br>
                        {% endfor %}
                    {% else %}
                        <p style="color: #aaa;">No members</p>
                    {% endif %}
                </div>
                <div class="grid-item">{{ a.achievement_date }}</div>
                <div class="grid-item">{{ a.type }}</div>
                <div class="grid-item">{{ a.academic_year }}</div>
                <div class="grid-item">{{ a.organization.name }}</div>
                <div class="grid-item">
                    <a href="{{ link }}" class="btn-outline-dark btn-sm">download</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <br><br>
        <h2 style="text-align:center;">No Achievements</h2>
    {% endif %}

    <br><br>
    <div style="max-width: 600px; margin: auto; border: 3px solid #ff5050;">
        {{ fig|safe }}
    </div>
    <br><br>
{% endblock %}